{##
 # Powered by box
 #}


<div class="powered-by">
  <p class="copyright">© {{ this.getCompanyYear() }} {{ this.config.Company.company_name }}. {{ t('All rights reserved.') }}</p>
 <br><br><br>
</div>
