A:link {
	TEXT-DECORATION: none;	
}
A {
	TEXT-DECORATION: none;
		
}
A:visited {
	TEXT-DECORATION: underline
		color: #3333FF;
			TEXT-DECORATION: none;
			list-style-image: url(images/bullet2.gif);
}
A:hover {
	list-style-image: url(images/bullet2.gif);
	color: #3333FF;
	TEXT-DECORATION: underline;
}

li {
	list-style-image: url(images/bullet.gif);
	font-size: 11px;
	padding-left: 4px;

}
li:hover {
	list-style-image: url(images/bullet2.gif);
	padding-left: 6px;
		TEXT-DECORATION: none;
}


h2 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #372d27;
	display: inline;
	padding-left: 8px;
}

td {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

input {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #AACCFF;
}

select {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #AACCFF;
}

radio {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #AACCFF;
}

.title {
	background-position: left;
}
.titlebar {
	background-image: url(images/title_05.gif);
	background-position: left top;
}
.titlesub {
	text-align: right;
	padding-top: 6px;
	margin: 4px;
}
.BodyText {
	background-color: #FFFFFF;
	padding: 5px;
	font-size: 10px;

}
.AccentBlue {
	background-color: #AACCFF;
	background-image: url(images/AccentBlue.gif);

}
.AccentRed {
	background-color: #FFCCAA;
		background-image: url(images/AccentRed.gif);
}
.AccentGreen {
	background-color: #AAFFCC;
	background-image: url(images/AccentGreen.gif);
	background-position: right top;

}
.boxtrimr {
	background-image: url(images/boxtrimr.gif);
	background-position: right bottom;
}
.boxtriml {

	background-image: url(images/boxtriml.gif);
	background-position: left bottom;
}
.footer {
	font-size: 10px;
	text-align: center;
	color: #FFFFFF;

}
.cathead {
	background-color: #AACCFF;
	padding-top: 4px;
	padding-bottom: 4px;
	border-top-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-color: #336699;
	border-right-color: #336699;
	border-bottom-color: #336699;
	border-left-color: #336699;
	margin: 0px;
	background-image: url(images/AccentBlue.gif);




}
.catbody {
	margin: 0px;
	padding: 2px 2px 2px 4px;
}
.catmenuitem {
	background-color: #EEEEFF;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	padding: 5px;
	TEXT-DECORATION: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;

}
.catmenuitem:hover {
		color: #666666;
	TEXT-DECORATION: underline;
}
.divider {
	border-top: 1px solid #CCCCCC;
	border-right: 0px solid #CCCCCC;
	border-bottom: 0px solid #CCCCCC;
	border-left: 0px solid #CCCCCC;
	padding: 2px;
	margin: 8px 8px 0px;
}
.VSP {
	background-color: AACCFF;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}
.VSP2 {

	background-color: FFCCBB;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}
.VSP3 {
	background-color: AACCFF;
	font-size: 11px;
	
	text-align: left;
}
.VSP4 {
	background-color: AACCFF;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
}
.LS {


	background-color: #CCFFCC;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}
.AS {



	background-color: #FFFFAA;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}
.RS {



	background-color: #FFAA33;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}
.headmenu {
	font-weight: bold;
	background-color: #DDDDFF;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
}
.link {
	font-weight: bold;
	color: #0000FF;
	text-decoration: underline;
}
.error {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
}

	a.LINK0 {left:18px; top:277px; background:transparent;}
	a.LINK0 {display:block; width:133px; height:0; padding-top:100px; overflow:hidden; position:absolute;}
	a.LINK0:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK1 {left:174px; top:276px; background:transparent;}
	a.LINK1 {display:block; width:133px; height:0; padding-top:100px; overflow:hidden; position:absolute;}
	a.LINK1:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK2 {left:334px; top:277px; background:transparent;}
	a.LINK2 {display:block; width:133px; height:0; padding-top:100px; overflow:hidden; position:absolute;}
	a.LINK2:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK3 {left:18px; top:386px; background:transparent;}
	a.LINK3 {display:block; width:133px; height:0; padding-top:100px; overflow:hidden; position:absolute;}
	a.LINK3:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK4 {left:176px; top:385px; background:transparent;}
	a.LINK4 {display:block; width:133px; height:0; padding-top:100px; overflow:hidden; position:absolute;}
	a.LINK4:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK5 {left:333px; top:386px; background:transparent;}
	a.LINK5 {display:block; width:133px; height:0; padding-top:100px; overflow:hidden; position:absolute;}
	a.LINK5:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK6 {left:18px; top:495px; background:transparent;}
	a.LINK6 {display:block; width:133px; height:0; padding-top:100px; overflow:hidden; position:absolute;}
	a.LINK6:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK7 {left:175px; top:494px; background:transparent;}
	a.LINK7 {display:block; width:133px; height:0; padding-top:100px; overflow:hidden; position:absolute;}
	a.LINK7:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK8 {left:335px; top:494px; background:transparent;}
	a.LINK8 {display:block; width:133px; height:0; padding-top:100px; overflow:hidden; position:absolute;}
	a.LINK8:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK9 {left:18px; top:599px; background:transparent;}
	a.LINK9 {display:block; width:133px; height:0; padding-top:100px; overflow:hidden; position:absolute;}
	a.LINK9:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK10 {left:175px; top:599px; background:transparent;}
	a.LINK10 {display:block; width:135px; height:0; padding-top:102px; overflow:hidden; position:absolute;}
	a.LINK10:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK11 {left:334px; top:600px; background:transparent;}
	a.LINK11 {display:block; width:136px; height:0; padding-top:102px; overflow:hidden; position:absolute;}
	a.LINK11:hover  {background:transparent; border:1px dashed black; color:black;}

html, body {
  height: 100%;
}
 
body {
  position: relative; 
}
 
#container, #navigation {
  min-width: 760px;
  position: relative;
}

 
#container {
  min-height: 100%;
  font: normal 1em/1.5em arial, helvetica, sans-serif;
}
* html #container {
  height: 100%;
}


	#topheaderbar {
	width: 350;
	border-top: 1px solid #CCC;
	border-right: 1px solid #CCC;
	position: fixed;

	right: 0;
	top: 0;
	z-index: 101;
	background-image: url(images/bgdark.gif);
	background-repeat: repeat;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
}

.headerlinks {
	padding: 0px 5px 0px 25px;
	font-weight:bold;
	font-size: 10px;
	color: #06F;
	} 
	
a.headerlinks {
	padding: 0px 5px 0px 25px;
	font-weight:bold;
	font-size: 10px;
	color: #06F;
	} 


 

#footer {
  width: 800;
  background-color: #FFF;
  border-top: 1px solid #CCC;
  border-right: 1px solid #CCC;
  position: fixed; 
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
 

* html #footer {
  position: absolute;
  width: 800;
  bottom: 0;
  left: 0;
  overflow: visible; 
  top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop +(documentElement.clientHeight-this.clientHeight) : document.body.scrollTop +(document.body.clientHeight-this.clientHeight));
}
 

.fixedfooter {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}
.BodyTextTitle {
	font-size: 16px;
	font-weight: bold;
	color: #555;
	float: left;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-top: 4px;
}
