{##
 # Overlapping box
 #
 # @ListChild (list="itemsList.product.grid.customer.info.photo", weight="999")
 # @ListChild (list="itemsList.product.list.customer.quicklook", weight="999")
 # @ListChild (list="productBlock.info", weight="999")
 #}
{% if this.isQuickLookEnabled() %}
  <div class="quicklook">
     <div class="head-h3 product-name x-name"><a class="fn url" href="{{ this.getProductURL(this.categoryId) }}">{{ this.product.name|raw }}</a></div>  
     <span class="price product-price x-price">{{ this.formatPrice(this.product.price, this.null, 1)|raw }}</span>
    
     <a class="quicklook-view x-loupe" href="{{ this.getProductURL(this.categoryId) }}">&nbsp;</a> 
  </div>
{% endif %}