{##
 # Top menu
 #}
<div id="footerS" class="fixedfooter">
 <ul class="social-links">
  <li><a href="https://twitter.com/Virtualsetworks" class="twitter" target="_blank">twitter</a></li>
  <li><a href="https://www.facebook.com/VirtualSetcom-1066838283351368" class="facebook" target="_blank">facebook</a></li>
  <li><a href="https://plus.google.com/b/108549271975084571375/+Virtualsetworks" rel="publisher" class="google-plus" target="_blank">Google+</a></li>
  <li><a href="https://www.linkedin.com/company/virtualset.com" rel="publisher" class="linkedin" target="_blank">LinkedIn</a></li>
  <li><a href="https://vimeo.com/virtualset" rel="publisher" class="vimeo" target="_blank">Vimeo</a></li>
  <li><a href="https://www.youtube.com/c/Virtualsetworks" rel="publisher" class="youtube" target="_blank">Youtube</a></li>

</ul>
</div>

