{##
 # 404 Page not found widget
 #}
<h2 class="page-not-found">{{ t('Missing') }}</h2>
<img src="images/missing.jpg">
<p>{{ t('These are not the pages you are looking for.') }}</p>
<p>{{ t('Maybe try one of these:') }}</p>
<p>
<ul>
<li><a href="https://www.virtualset.com/hd-1080/">HD Virtual Set Studios</a></li></br>
<li><a href="https://www.virtualset.com/tutorials.html">Tutorials</a></li></br>
<li><a href="https://www.virtualset.com/contact.html">Contact</a></li></br>
</ul>
</p>
